{% extends "base/base.jinja2" %}
{% block body %}
    <form method="post" action="{{ url_for('csv.upload') }}" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="files[]" multiple="true" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
{% endblock %}