<html>
<head>
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="container-fluid h-100">

    <div class="row h-25">
        <div class="col-3 center-block text-center m-2">
            <div class="card">
                <a href="{{ url_for('csv.upload') }}">
                    <img src="{{ url_for('static', filename='icon/fin.png') }}" alt="" class="card-img-top">
                </a>
            </div>
        </div>
        <div class="col-3 center-block text-center">

        </div>
        <div class="col-3 center-block text-center">

        </div>
        <div class="col-3 center-block text-center">

        </div>
    </div>
    <div class="row h-25">
        <div class="col-4 center-block text-center">

        </div>
        <div class="col-4 center-block text-center">

        </div>
        <div class="col-4 center-block text-center">

        </div>

    </div>
    <div class="row h-25">
        <div class="col-4 center-block text-center">

        </div>
        <div class="col-4 center-block text-center">

        </div>
        <div class="col-4 center-block text-center">

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename= 'popper.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'jquery.js') }}"></script>
<script src="{{ url_for('static', filename= 'bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
