<html>
<head>
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
Hello
<script src="{{ url_for('static', filename= 'popper.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'jquery.js') }}"></script>
<script src="{{ url_for('static', filename= 'bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
