{% extends './base/base.jinja2' %}
{% block body %}
{% for asset, prices in assets_prices.items() %}
    <p>{{ asset }}</p>
    {% for price in prices %}
        <p>{{ price }}</p>
    {% endfor %}
{% endfor %}
{% endblock %}
